 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech - ICT</h4>
    <h4 class="degree">Information & Communication Technology</h4>
    <h5 class="meta">School of Engineering & Applied Science, Ahmedabad University</h5>
    <br>
    <h5 class="meta">CGPA : 3.18 / 4.33</h5>
    <div class="time">2013 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree"><a href="https://confirm.udacity.com/LGUVLNXH">NLP Foundations</a></h4>
    <h5 class="meta">Udacity</h5>
    <br>
    <div class="time">2018</div>
</div><!--//item-->
</div><!--//education-container-->
