<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cloud Engineer</h3>
                            <div class="time">July 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Aruba, a Hewlett-Packard Company
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>Developing a recommendation engine for suggesting optimal device configurations</li>
                        <li>Designed an Analytics Pipeline to help Aruba Central applications centralize the computational resources</li>
                        <li>Optimized libs to enhance backend performance of configuration and MSP modules for Aruba Central</li>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Engineering Intern</h3>
                            <div class="time">November 2016 - April 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">HireVally Inc.
                          <br>Advisor: Raxit Goswami, Dr. Sanjay Chaudhary & Dr. Ratnik Gandhi
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>Developed an Automated Human Capital Management Platform for Job Hunting & Hiring process</li>
                      <li>Implemented Machine Learning Algorithms for better recommendation</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Part-Time Undergraduate Teaching Assistant</h3>
                            <div class="time">Jan 2017 – Present</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                        <br>Advisor: Dr. N Padmanabhan
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Course: Introduction to Computation & Programming (CSC101)</li>
                      <br>
                      <p>Tutored Batch of 2016 having 60 students during Winter semester</p>
                      <p>Conducted recitation lectures, MATLAB tutorials and quizzes</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Part-Time Undergraduate Teaching Assistant</h3>
                            <div class="time">Aug 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                        <br>Advisor: Dr. Sanjay Chaudhary
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Course: Operating Systems Lab (CSC341M) </li>
                      <br>
                      <p>Tutored Batch of 2014 having 120 students during Winter semester</p>
                      <p>Conducted recitation lectures and programming tutorials</p>
                      <p>Mentored 10+ teams for their lab projects</p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Part-Time Undergraduate Teaching Assistant</h3>
                            <div class="time">Aug 2016 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Ahmedabad University
                        <br>Advisor: Prof. Milan Pandya
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <li>Course: Critical Thinking and Argumentation</li>
                      <br>
                      <p>Tutored a batch of 30 students during Fall and Spring semester</p>
                      <p>Conducted recitation lectures and quizzes</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
