<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Programming Languages - Proficiency</h2>
  <div class="skillset">

    <div class="item">
      <h3 class="level-title">Python</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
    </div><div class="item">
      <h3 class="level-title">C</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="80%">
        </div>
      </div>
    </div><div class="item">
      <h3 class="level-title">Java/Scala</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="50%">
        </div>
      </div>
    </div><div class="item">
      <h3 class="level-title">Shell Script (Bash)</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
  </div>

  <br>
  <h2 class="section-title"><i class="fa fa-fire"></i>APIs &amp; Frameworks - Proficiency</h2>
  <div class="skillset">

     <div class="item">
      <h3 class="level-title">NLTK</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="55%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">TensorFlow</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="65%">
        </div>
      </div>
    </div>
    
    <div class="item">
      <h3 class="level-title">OpenCV</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>
    
    <div class="item">
      <h3 class="level-title">PyCUDA</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Scikit-CUDA</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Sci-kit Learn</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Apache Spark</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="60%">
        </div>
      </div>
    </div>
    
    <div class="item">
      <h3 class="level-title">Flask</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

  </div>

  <br>
  <h2 class="section-title"><i class="fa fa-laptop"></i>Technical Softwares - Proficiency</h2>
  <div class="skillset">

    </div><div class="item">
      <h3 class="level-title">Intellij IDEA</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="50%">
        </div>
      </div>
    </div>
      <div class="item">
      <h3 class="level-title">Protege</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="30%">
        </div>
      </div>
    
  </div>

</section><!--//skills-section-->
